/* Universal */

html {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

main {
    position: relative;

    background-image: url('../images/body-background.png');
    background-size: cover;
    background-repeat: no-repeat;

    top: 83px;
    /*margin-bottom: 5.55rem;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4,
p {
    margin: 1rem 0;
}

/* Header */

header {
    position: fixed;
    z-index: 1;

    background-color: white;
    border-bottom: 1px black solid;
    width: 100%;

    display: flex;
    align-items: center;
}

header a {
    color: black;

    text-decoration: none;
}

.logo {
    padding-left: 2rem;

    flex: 1;

    font-weight: bold;
    font-size: 2.5rem;
}

nav ul {
    padding: 0 2.5rem;
    
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

nav ul li {
    padding: 1rem;

    display: inline-block;
}

/* About Section */

.about,
.projects,
.skills,
.contacts {
    border-radius: 1rem;

    margin: 1rem 20%;
    padding: 1rem;
}

.about {
    background-image: url('../images/about-background.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
}

.text-container {
    padding: 0 2rem;
}

.about img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Projects Section */

.projects {
    background-image: url('../images/projects-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.projects .headline {
    cursor: pointer;

    display: flex;
    align-items: center;
}

.projects .headline img {
    max-height: 1.5rem;
    
    margin: 0 .25rem;
}

.projects .project-content {
    display: none;
}

.projects .project-content a {
    border-radius: 1rem;
    background-color: aquamarine;
    color: black;

    padding: 1rem;

    text-decoration: none;
}

.projects .project-content p {
    padding-top: 1rem;
}

.projects .project-content img {
    width: 60%;
}

/* Skills Section */

.skills {
    background-image: url('../images/skills-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.skills .image-container {
    display: flex;
    align-items: center;

    padding: 0 1rem;
}

.skills .image-container .logo-container {
    position: relative;

    max-width: 8%;

    margin: 0 1rem;
}

.skills .image-container .logo-container img {
    max-width: 100%;
}

.logo-container .logo-overlay{
    position: absolute;
    z-index: 2;

    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    
    display: none;
    justify-content: center;
    align-items: center;
}

/* Contacts Section */

.contacts {
    background-image: url('../images/contacts-background.png');
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
}

.contacts a {
    color: white;
}

.contacts .contact-method {
    display: flex;
    align-items: center;

    margin: .5rem 0;
}

.contacts .contact-method img {
    max-width: 5%;
    
    margin: 0 .5rem;
}

/* Responsive Design */

@media only screen and (max-width: 1500px) {
    .about img {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .logo {
        display: none;
    }

    nav {
        width: 100%;
    }

    nav ul {
        justify-content: space-around;
    }

    .about,
    .projects,
    .skills,
    .contacts {
        width: 100%;
        
        margin: 1rem 0;
        padding: 1rem 0;
    }
}